:root {
  --radius: 0.65rem;
  --accent: var(--color-secondary-faded);
  --accent-foreground: var(--color-grey-800);
  --background: var(--color-background-paper);
  --border: var(--color-grey-300);
  --card: var(--color-background-lightblue);
  --card-foreground: var(--color-grey-800);
  --chart-1: var(--color-alternative-darkorange);
  --chart-2: var(--color-system-success);
  --chart-3: var(--color-alternative-prefermemberBlue);
  --chart-4: var(--color-alternative-gold);
  --chart-5: var(--color-tertiary);
  --destructive: var(--color-system-error);
  --foreground: var(--color-grey-800);
  --input: var(--color-grey-100);
  --muted: var(--color-grey-100);
  --muted-foreground: var(--color-grey-600);
  --popover: var(--color-background-lightblue);
  --popover-foreground: var(--color-grey-800);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-common-white);
  --ring: var(--color-primary-light);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-grey-800);
  --sidebar: var(--color-grey-100);
  --sidebar-accent: var(--color-secondary);
  --sidebar-accent-foreground: var(--color-grey-800);
  --sidebar-border: var(--color-grey-300);
  --sidebar-foreground: var(--color-grey-800);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-common-white);
  --sidebar-ring: var(--color-primary-light);
}

.dark {
  --radius: 0.65rem;
  --accent: var(--color-secondary-faded);
  --accent-foreground: var(--color-common-white);
  --background: var(--color-grey-800);
  --border: var(--color-grey-600);
  --card: var(--color-grey-700);
  --card-foreground: var(--color-common-white);
  --chart-1: var(--color-alternative-darkorange);
  --chart-2: var(--color-system-success);
  --chart-3: var(--color-alternative-prefermemberBlue);
  --chart-4: var(--color-alternative-gold);
  --chart-5: var(--color-tertiary);
  --destructive: var(--color-system-error);
  --foreground: var(--color-common-white);
  --input: var(--color-grey-700);
  --muted: var(--color-grey-700);
  --muted-foreground: var(--color-grey-300);
  --popover: var(--color-grey-700);
  --popover-foreground: var(--color-common-white);
  --primary: var(--color-primary-dark);
  --primary-foreground: var(--color-common-white);
  --ring: var(--color-primary-faded);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-common-white);
  --sidebar: var(--color-grey-700);
  --sidebar-accent: var(--color-secondary);
  --sidebar-accent-foreground: var(--color-common-white);
  --sidebar-border: var(--color-grey-600);
  --sidebar-foreground: var(--color-common-white);
  --sidebar-primary: var(--color-primary-dark);
  --sidebar-primary-foreground: var(--color-common-white);
  --sidebar-ring: var(--color-primary-faded);
}
