@font-face {
  font-family: 'Gilroy';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/Gilroy-Regular.eot');
  src:
    local('Gilroy Regular'),
    local('Gilroy-Regular'),
    url('./fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Regular.woff2') format('woff2'),
    url('./fonts/Gilroy-Regular.woff') format('woff'),
    url('./fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/Gilroy-Medium.eot');
  src:
    url('./fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Medium.woff2') format('woff2'),
    url('./fonts/Gilroy-Medium.woff') format('woff'),
    url('./fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/Gilroy-Bold.eot');
  src:
    url('./fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy-Bold.woff2') format('woff2'),
    url('./fonts/Gilroy-Bold.woff') format('woff'),
    url('./fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('./fonts/SuisseIntl-Light.woff2') format('woff2'),
    url('./fonts/SuisseIntl-Light.woff') format('woff'),
    url('./fonts/SuisseIntl-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('./fonts/SuisseIntl-Regular.woff2') format('woff2'),
    url('./fonts/SuisseIntl-Regular.woff') format('woff'),
    url('./fonts/SuisseIntl-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('./fonts/SuisseIntl-Medium.woff2') format('woff2'),
    url('./fonts/SuisseIntl-Medium.woff') format('woff'),
    url('./fonts/SuisseIntl-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url('./fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
    url('./fonts/SuisseIntl-SemiBold.woff') format('woff'),
    url('./fonts/SuisseIntl-SemiBold.ttf') format('truetype');
}
