@import "./typography.tailwind.css";
@import "./buttons.tailwind.css";

@tailwind base;

@layer base {

  input,
  select {
    @apply bg-transparent block border-[1.5px] border-grey-300 my-8 p-12 relative rounded-lg;

    &::placeholder {
      @apply text-grey-500;
    }

    &[error] {
      @apply border-error;

      +.cm-helper {
        @apply visible opacity-100;
      }
    }

    &:hover {
      @apply border-primary-light;
    }

    &:focus {
      @apply border-primary-main;
    }

    &:focus-visible {
      @apply outline-none;
    }

    &:disabled {
      @apply bg-grey-100;
    }

  }

  select {
    @apply bg-no-repeat bg-[center_right_12px] pr-48 appearance-none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='m12 13 5-5 1 2-6 6-6-6 1-2z' fill='rgba(170,170,171,1)'/%3E%3C/svg%3E");

    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='m12 13 5-5 1 2-6 6-6-6 1-2z' fill='rgba(0,50,160,1)'/%3E%3C/svg%3E");
    }

    &.cm-input--big {
      @apply bg-[center_right_8px];
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'  width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 16l-6-6h12z' fill='rgba(170,170,171,1)'/%3E%3C/svg%3E");

      &:focus {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'  width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 16l-6-6h12z' fill='rgba(170,170,171,1)'/%3E%3C/svg%3E");
      }
    }

    &.cm-input--big--invert {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'  width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 16l-6-6h12z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");

      &:focus {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'  width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 16l-6-6h12z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
      }
    }
  }

  label {
    @apply mb-8 text-grey-700 text-14-20;

    &[required]::after {
      @apply content-['*'] text-error;
    }
  }

}

@tailwind components;

@layer components {

  .cm {



    &-divier {
      &-h {
        &-solid {
          @apply bg-grey-300 block h-1 opacity-50 w-11/12;

          &-invert {
            @apply bg-grey-50 block h-1 opacity-[32] w-11/12;
          }
        }

        &-dashed {
          @apply block border-b border-dashed border-grey-300 opacity-50 w-11/12;

          &-invert {
            @apply pass block border-b border-dashed border-grey-50 w-11/12;
          }
        }
      }

      &-v {
        &-solid {
          @apply bg-grey-300 inline-block h-[90%] opacity-50 w-1;

          &-invert {
            @apply bg-grey-50 h-[90%] inline-block opacity-[32] w-1;
          }
        }
      }

    }

    &-helper {
      @apply invisible text-12-16 opacity-0 transition-opacity duration-200;
    }

    &-input {
      &--icons {
        @apply px-48;
      }

      &--icon-left {
        @apply pl-48;
      }

      &--icon-right {
        @apply pr-48;
      }

      &--big {
        @apply bg-transparent border-x-0 border-t-0 pl-0 py-4 text-20-32 rounded-none;

        option {
          @apply text-16-24 p-8;
        }

        &--invert {
          @apply border-x-grey-50 text-grey-50;

          option {
            @apply text-grey-700;
          }

          &::placeholder {
            @apply text-opacity-70;
          }

          &[error] {
            @apply border-error;

            +.cm-helper {
              @apply visible opacity-100;
            }
          }

          &:hover {
            @apply border-primary-ultralight;
          }

          &:focus {
            @apply bg-grey-50-10 border-primary-ultralight;
          }
        }
      }
    }

    &-dropdown {
      &-container {
        @apply max-h-[220px] overflow-scroll
      }
    }
  }
}


@tailwind utilities;

:root {
  @apply font-body text-16-24 text-grey-600;
}